.skill .label
    {
       z-index: 2;
     }
.retractable
    {
       overflow-y: hidden;
       transition: height .5s;
     }
.hidden.retractable
    {
       height: 0;
     }
.reverse .extra
    {  transform: rotate(180deg);  }

[name="skills"] .skill .label .extra
    {  transition: all .5s;  }

.hide.to.left
    {
       right: 100%;
       animation: hide_to_left .7s cubic-bezier(0.65, 0.05, 0.36, 1);
     }
.hide.to.right
    {
       right: -100%;
       animation: hide_to_right .7s cubic-bezier(0.65, 0.05, 0.36, 1);
     }
.show.from.left
    {
       right: 0;
       animation: show_from_left .7s cubic-bezier(0.65, 0.05, 0.36, 1);
     }
.show.from.right
    {
       right: 0;
       animation: show_from_right .7s cubic-bezier(0.65, 0.05, 0.36, 1);
     }

@keyframes hide_to_top
    {
       0%
           {
              display: unset;
              max-height: 40px;
            }
       100%
           {
              display: none;
              max-height: 0;
            }
     }
@keyframes hide_to_left
    {
       0%
           {  right: 0;  }
       100%
           {  right: 100%;  }
     }
@keyframes hide_to_right
    {
       0%
           {  right: 0;  }
       100%
           {  right: -100%;  }
     }
@keyframes show_from_top
    {
       0%
           {
              display: none;
              max-height: 0;
            }
       100%
           {
              display: unset;
              max-height: 40px;
            }
     }
@keyframes show_from_left
    {
       0%
           {  right: 100%;  }
       100%
           {  right: 0;  }
     }
@keyframes show_from_right
    {
       0%
           {  right: -100%;  }
       100%
           {  right: 0;  }
     }