body
    {
       display: flex;
       position: relative;
       flex-direction: column-reverse;
       overflow: hidden;
       margin: 0;
     }

#navigation
    {
       position: sticky;
       top: 0;
       padding: 0 10px;
       padding-top: 15px;
       background-color: #FFF;
       border-bottom: 1px solid #777;
       user-select: none;
       text-align: right;
       box-sizing: border-box;
       box-shadow: 0 3px 10px -5px #333;
     }

#main, .page
    {
       width: 100%;
       height: 100%;
       overflow-x: hidden;
       overflow-y: auto;
     }
#main
    {
       display: flex;
       position: relative;
       flex-direction: row;
       overflow: hidden;
     }
.page
    {
       position: absolute;
     }
.page > section
    {
       min-height: 100%;
       box-sizing: border-box;
       overflow: auto;
     }

[name="landing"]
    {
       display: flex;
       position: relative;
       flex-direction: column;
       justify-content: center;
       background-color: #357;
       align-items: center;
       overflow: hidden;
       z-index: 0;
     }
[name="landing"] .banner
    {
       display: flex;
       width: 275px;
       height: 120px;
       text-align: center;
       align-items: center;
       flex-direction: column;
       justify-content: space-evenly;
       box-shadow: 0 0 15px -1px #222;
       background-color: #FFF;
       border: 1px solid #333;
       user-select: none;
       z-index: 2;
     }
[name="landing"] canvas
    {
       position: absolute;
       top: 0;
       left: 0;
       z-index: 1;
       width: 100%;
       height: 100%;
     }

[name="briefing"]
    {
       display: flex;
       padding: 0 10px;
       padding-top: 25px;
       flex-direction: column;
       justify-content: space-around;
       min-height: fit-content !important;
       background-color: #062137;
       overflow: auto;
       color: #FFF;
     }
[name="briefing"] .paragraph
    { 
       display: flex;
       position: relative;
       margin: 10px 0;
       padding: 10px;
       padding-top: 15px;
       border: 1px solid #AAA;
       box-sizing: border-box;
       flex-direction: column;
     }

.page[name="skills"]
    {
       padding: 5px;
       width: 100%;
       min-height: 100%;
       flex-direction: column;
       box-sizing: border-box;
       background-color: #0C2D48;
       color: #FFF;
     }

.page[name="skills"] .skillset
    {
       display: flex;
       flex-direction: column;
       position: relative;
       padding: 5px;
       margin: 5px;
       min-height: min-content;
       border: 1px solid #777;
       border-radius: 5px;
       overflow: unset;
     }
.page[name="skills"] .skill
    {
       position: relative;
       display: flex;
       width: 100%;
       padding: 0 5px;
       flex-direction: column;
       box-sizing: border-box;
       user-select: none;
     }

.page[name="personality"]
    {
       display: flex;
       height: 100%;
       overflow: hidden;
       flex-direction: row;
     }
.page[name="personality"] .list
    {
       display: flex;
       margin: 25px;
       padding: 5px 0;
       overflow-y: auto;
       overflow-x: hidden;
       border-radius: 5px;
       border: 1px solid #999;
       align-self: flex-start;
       flex-direction: column;
       min-width: fit-content;
       min-height: fit-content;
       box-shadow: 0 0 15px -5px #AAA;
       box-sizing: border-box;
     }
[name="personality"] .board
    {
       position: relative;
       display: flex;
       width: 100%;
       align-items: center;
       justify-content: center;
     }
[name="personality"] .widget
    {
       display: flex;
       border-radius: 5px;
       flex-direction: column;
       border: 1px solid #999;
       box-sizing: border-box;
       box-shadow: 0 0 15px -5px #AAA;
       transition: all .5s;
     }