body
    {
       display: flex;
       position: relative;
       margin: 0;
       overflow: hidden;
       flex-direction: row;
     }

#navigation
    {
       display: flex;
       flex-direction: column;
       align-items: flex-end;

       width: 150px;
       padding: 0;
       padding-top: 15px;
       background-color: #1E1E1E;
       user-select: none;
       text-align: right;
       overflow: hidden;
       box-sizing: border-box;
     }

#main, .page
    {
       width: 100%;
       height: 100%;
       overflow-x: hidden;
       overflow-y: auto;
     }
#main
    {
       display: flex;
       position: relative;
       flex-direction: row;
       overflow: hidden;
     }
.page
    {
       position: absolute;
     }
.page > section
    {
       min-height: 100%;
       box-sizing: border-box;
       overflow: auto;
     }

[name="landing"]
    {
       display: flex;
       position: relative;
       background-color: #357;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       overflow: hidden !important;
     }
[name="landing"] .banner
    {
       display: flex;
       width: 275px;
       height: 120px;
       text-align: center;
       align-items: center;
       flex-direction: column;
       justify-content: space-evenly;
       background-color: #FFF;
       user-select: none;
       z-index: 3;
     }
[name="landing"]::after
    {
       content: " ";
       position: absolute;
       width: 600px;
       height: 600px;
       background-size: 100%;
       background-image: url("/Shoot/MAS4RADIA.webp");
       background-repeat: no-repeat;
       background-position: center;
       z-index: 0;
     }
[name="landing"] canvas
    {
       position: absolute;
       top: 0;
       left: 0;
       z-index: 1;
       width: 100%;
       height: 100%;
     }

[name="briefing"]
    {
       display: flex;
       height: 100%;
       width: 100%;
       padding: 5px;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
       overflow: hidden !important;
       background-color: #062137;
       color: #FFF;
     }
[name="briefing"] [name="description"]
    {
       position: relative;
       display: flex;
       height: 60%;
       width: 100%;
       padding: 0 20px;
       overflow: hidden;
       align-items: center;
     }
[name="briefing"] .paragraph
    { 
       position: absolute;
       display: flex;
       margin: 10px 0;
       padding: 10px;
       padding-top: 15px;
       border: 1px solid #AAA;
       box-sizing: border-box;
       flex-direction: column;
     }

.page[name="skills"]
    {
       padding: 5px;
       width: 100%;
       min-height: 100%;
       flex-direction: column;
       box-sizing: border-box;
       background-color: #0C2D48;
       color: #FFF;
     }

.page[name="skills"] .skillset
    {
       display: flex;
       flex-direction: column;
       position: relative;
       padding: 5px;
       margin: 5px;
       min-height: min-content;
       border: 1px solid #777;
       border-radius: 5px;
       overflow: unset;
     }
.page[name="skills"] .skill
    {
       position: relative;
       display: flex;
       width: 100%;
       padding: 0 5px;
       flex-direction: column;
       box-sizing: border-box;
       user-select: none;
     }

.page[name="personality"]
    {
       display: flex;
       height: 100%;
       overflow: hidden;
       flex-direction: row;
     }
.page[name="personality"] .list
    {
       display: flex;
       margin: 25px;
       padding: 5px 0;
       overflow-y: auto;
       overflow-x: hidden;
       border-radius: 5px;
       border: 1px solid #999;
       align-self: flex-start;
       flex-direction: column;
       min-width: fit-content;
       min-height: fit-content;
       box-sizing: border-box;
     }
.page[name="personality"] .board
    {
       position: relative;
       display: flex;
       width: 100%;
       align-items: center;
       justify-content: center;
     }
.page[name="personality"] .widget
    {
       display: flex;
       border-radius: 5px;
       flex-direction: column;
       border: 1px solid #999;
       box-sizing: border-box;
       transition: all .5s;
     }

.page[name="hobbies"]
    {
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
     }
.page[name="hobbies"] .list
    {
       display: flex;
       width: 350px;
       min-width: fit-content;
       justify-content: center;
       align-items: center;
     }
.page[name="hobbies"] .list .window
    {
       padding: 5px 0;
       border: 1px solid #999;
       border-radius: 5px;
     }
.page[name="hobbies"] .board
    {
       width: 100%;
       padding: 15px;
       box-sizing: border-box;
     }

.page[name="contact"] .holder
    {
       position: absolute;
       top: 50%;
       left: 50%;
       min-width: 500px;
       min-height: 300px;
       transform: translate(-50%, -50%);
       overflow: hidden;
     }
.page[name="contact"] .card
    {
       position: absolute;
       display: flex;
       width: 100%;
       height: 100%;
       border: 1px solid;
       border-radius: 10px;
       background-color: #334;
       backface-visibility: hidden;
       transform-style: preserve-3d;
       box-shadow: 0 0 15px -5px #999;
       justify-content: flex-start;
       flex-direction: column;
       align-items: stretch;
       user-select: none;
       color: #37F;
     }

.page[name="contact"] .card[name="face"] .centered
    {
       display: flex;
       position: absolute;
       top: 50%;
       left: 50%;
       align-items: center;
       flex-direction: column;
       transform: translate(-50%, -50%);
     }
.page[name="contact"] .card[name="face"] .centered::after
    {
       content: " ";
       position: absolute;
       top: -40px;
       width: 150px;
       height: 150px;
       border: 3px solid;
       border-radius: 100%;
       z-index: -1;
     }