@media screen and (max-width: 600px)
    {
       #navigation .link
           {
              display: flex;
              margin: 0;
              width: 100%;
              height: 100%;
              padding: 0 5px;
              align-items: center;
              justify-content: center;
              transition: all .7s;
            }
       #navigation .active.link
           {
              color: #FFF;
            }
       #navigation .pointer
           {
              height: 100%;
              border: none;
              border-radius: 0;
              background-color: #333;
              transition-duration: .5s;
            }

       .page
           {  flex-direction: column !important;  }

       [name="landing"]::after
           {
              width: 100vw;
              height: 100vw;
            }
       [name="landing"] .banner
           {
              border: none;
              border-top: 2px solid #333;
              border-bottom: 2px solid #333;
            }
       [name="landing"] .banner .name
           {
              width: 100%;
              padding: 5px 0;
              font-size: 45px;
              border: none;
            }

       .page[name="services"] [name="briefing"]
           {  flex-direction: column;  }
       .page[name="services"] .foot[name="anchor"]
           {  display: none;  }
       .page[name="services"] [name="description"]
           {
              flex-direction: column;

              height: 100%;
              overflow-y: auto !important;
            }
       .page[name="services"] [name="description"] .paragraph
           {  position: relative;  }
       .page[name="services"] [name="description"] .hidden.paragraph
           {  display: flex !important;  }

       .page[name="contact"], .page[name="me"]
           {
              justify-content: space-around !important;
            }
       .page[name="contact"] .panel
           {
              min-height: fit-content;
            }
     }