@media screen and (max-width: 600px)
    {
       #navigation .link
           {
              margin: 0;
              transition: all .7s;
            }
       #navigation .active.link
           {
              color: #FFF;
            }

       #navigation .pointer
           {
              height: 100%;
              border: none;
              border-radius: 0;
              background-color: #333;
              transition-duration: .5s;
              z-index: -1;
            }
     }