@media screen and (max-width: 600px)
    {
       #navigation .link
           {
              margin: 0;
              padding: 0;
              width: 100%;
              text-align: center;
              transition: all .7s;
            }
       #navigation .active.link
           {
              color: #FFF;
            }
       #navigation .pointer
           {
              height: 100%;
              border: none;
              border-radius: 0;
              background-color: #333;
              transition-duration: .5s;
              z-index: -1;
            }

       [name="landing"] .banner
           {
              border: none;
              border-top: 2px solid #333;
              border-bottom: 2px solid #333;
            }
       [name="landing"] .banner .name
           {
              width: 100%;
              padding: 5px 0;
              font-size: 45px;
              border: none;
            }
     }