@import "/Paint/Desktop/Error.css";
@import "/Paint/Desktop/Structure.css";
@import "/Paint/Desktop/Content.css";
@import "/Paint/Desktop/Life.css";

@import "/Paint/Mobile/Structure.css";
@import "/Paint/Mobile/Content.css";

@font-face
    {
       font-family: "Local Roboto";
       src: url("/Carve/Roboto/Roboto-Regular.ttf");
     }

html, body
    {
       width: 100%;
       height: 100%;
     }
*
    {
       font-size: 100%;
       font-family: serif;
     }
*:focus
    {
       outline: none;
     }